<h2>Vegetables</h2>

<p>
  <a [routerLink]="['/meal/vegetableForm/new']" class="btn btn-success">New Vegetable</a>
</p>

<div class="well">
  <div class="form-group">
    <label for="vegetable">Vegetables</label>
    <select id="vegetable" class="form-control" [(ngModel)]="query.vegetableId" (change)="onqueryChange()">
      <option value=""></option>
      <option *ngFor="let vege of allVegetables" value="{{ vege.keyValuePairInfo.id }}">
        {{ vege.keyValuePairInfo.name }}
      </option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="resetquery()">Reset</button>
</div>
<br />
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> List of Vegetables
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th *ngFor="let c of columns">
                  <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                    {{ c.title }}
                    <i *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending" [class.fa-sort-desc]="!query.isSortAscending">
                    </i>
                  </div>
                  <div *ngIf="!c.isSortable">
                    {{ c.title }}
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vege of queryResult.items">
                <td>{{ vege.keyValuePairInfo.id }}</td>
                <td>{{ vege.keyValuePairInfo.name }}</td>
                <td>{{ vege.addedOn }}</td>
                <td>{{ vege.addedByUserName }}</td>
                <td>{{ vege.numberOfEntreeIncluded }}</td>
                <td>{{ vege.lastUpdatedByOn }}</td>
                <td>
                  <a [routerLink]="['/meal/vegetableForm/', vege.keyValuePairInfo.id]">View</a>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
        </div>
      </div>
    </div>
  </div>
