<div class="card">
  <div class="card-header">
    <strong>Add New Vegetable</strong>
  </div>
  <div class="card-body">
    <form class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="txtVegetableName">Vegetable Name</label>
        <div class="col-md-9">
          <input type="text" id="txtVegetableName" name="txtVegetableName" class="form-control" placeholder="Enter Name..">
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="pull-right">
      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </div>
</div>